<?xml version="1.0"?>
<!--
Software License Agreement (BSD)

\file      camera.launch
\authors   Michael Hosmar <mhosmar@clearpathrobotics.com>
\copyright Copyright (c) 2018, Clearpath Robotics, Inc., All rights reserved.

Redistribution and use in source and binary forms, with or without modification, are permitted provided that
the following conditions are met:
 * Redistributions of source code must retain the above copyright notice, this list of conditions and the
   following disclaimer.
 * Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the 
   following disclaimer in the documentation and/or other materials provided with the distribution.
 * Neither the name of Clearpath Robotics nor the names of its contributors may be used to endorse or promote
   products derived from this software without specific prior written permission.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WAR-
RANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR
PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, IN-
DIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT
OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
-->
<launch>
   <!-- Determine this using rosrun spinnaker_camera_driver list_cameras.
       If not specified, defaults to first camera found. -->

  <arg name="camera_name"                 default="fisheye" />
  <arg name="camera_name_driver"          default="cam_driver" />
  <arg name="camera_serial_driver"        default="22073953" />
  <arg name="camera_name_forward"         default="cam_forward" />
  <arg name="camera_serial_forward"       default="22072264" />
  <arg name="camera_name_rear"            default="cam_rear" />
  <arg name="camera_serial_rear"          default="22241785" />
  <arg name="camera_name_passenger"       default="cam_passenger" />
  <arg name="camera_serial_passenger"     default="22241794" />

  <arg name="control_frame_rate"        default="true" />
  <arg name="frame_rate"                default="5" />
  <arg name="color"                     default="Mono8" />

  <arg name="width"                     default="1920" />
  <arg name="height"                    default="1200" />

  <arg name="calibrated"                default="false" />

  <group ns="$(arg camera_name)">
      <group ns="driver">
      <node pkg="nodelet" type="nodelet" name="camera_nodelet_manager" args="manager" cwd="node" output="screen"/>

      <!-- Camera nodelet -->
      <node pkg="nodelet" type="nodelet" name="spinnaker_camera_nodelet"
            args="load spinnaker_camera_driver/SpinnakerCameraNodelet camera_nodelet_manager" >

        <param name="frame_id"                        value="$(arg camera_name_driver)" />
        <param name="serial"                          value="$(arg camera_serial_driver)" />

        <!-- Frame rate -->
        <param name="image_format_color_coding"       value="$(arg color)" />
        <param name="acquisition_frame_rate_enable"   value="$(arg control_frame_rate)" />
        <param name="acquisition_frame_rate"          value="$(arg frame_rate)" />

        <!-- Image format / size -->
        <param name="image_format_roi_width"          value="$(arg width)" />
        <param name="image_format_roi_height"         value="$(arg height)" />

        <!-- Use the camera_calibration package to create this file -->
        <param name="camera_info_url" if="$(arg calibrated)"
               value="file://$(env HOME)/.ros/camera_info/$(arg camera_serial_driver).yaml" />
      </node>

      <!-- Debayering nodelet -->
      <node pkg="nodelet" type="nodelet" name="image_proc_debayer"
            args="load image_proc/debayer camera_nodelet_manager">
      </node>
    </group>

      <group ns="forward">
      <node pkg="nodelet" type="nodelet" name="camera_nodelet_manager" args="manager" cwd="node" output="screen"/>

      <!-- Camera nodelet -->
      <node pkg="nodelet" type="nodelet" name="spinnaker_camera_nodelet"
            args="load spinnaker_camera_driver/SpinnakerCameraNodelet camera_nodelet_manager" >

        <param name="frame_id"                        value="$(arg camera_name_forward" />
        <param name="serial"                          value="$(arg camera_serial_forward)" />

        <!-- Frame rate -->
        <param name="image_format_color_coding"       value="$(arg color)" />
        <param name="acquisition_frame_rate_enable"   value="$(arg control_frame_rate)" />
        <param name="acquisition_frame_rate"          value="$(arg frame_rate)" />

        <!-- Image format / size -->
        <param name="image_format_roi_width"          value="$(arg width)" />
        <param name="image_format_roi_height"         value="$(arg height)" />

        <!-- Use the camera_calibration package to create this file -->
        <param name="camera_info_url" if="$(arg calibrated)"
               value="file://$(env HOME)/.ros/camera_info/$(arg camera_serial_forward).yaml" />
      </node>

      <!-- Debayering nodelet -->
      <node pkg="nodelet" type="nodelet" name="image_proc_debayer"
            args="load image_proc/debayer camera_nodelet_manager">
      </node>
    </group>

      <group ns="rear">
      <node pkg="nodelet" type="nodelet" name="camera_nodelet_manager" args="manager" cwd="node" output="screen"/>

      <!-- Camera nodelet -->
      <node pkg="nodelet" type="nodelet" name="spinnaker_camera_nodelet"
            args="load spinnaker_camera_driver/SpinnakerCameraNodelet camera_nodelet_manager" >

        <param name="frame_id"                        value="$(arg camera_name_rear" />
        <param name="serial"                          value="$(arg camera_serial_rear)" />

        <!-- Frame rate -->
        <param name="image_format_color_coding"       value="$(arg color)" />
        <param name="acquisition_frame_rate_enable"   value="$(arg control_frame_rate)" />
        <param name="acquisition_frame_rate"          value="$(arg frame_rate)" />

        <!-- Image format / size -->
        <param name="image_format_roi_width"          value="$(arg width)" />
        <param name="image_format_roi_height"         value="$(arg height)" />

        <!-- Use the camera_calibration package to create this file -->
        <param name="camera_info_url" if="$(arg calibrated)"
               value="file://$(env HOME)/.ros/camera_info/$(arg camera_serial_rear).yaml" />
      </node>

      <!-- Debayering nodelet -->
      <node pkg="nodelet" type="nodelet" name="image_proc_debayer"
            args="load image_proc/debayer camera_nodelet_manager">
      </node>
    </group>

      <group ns="passenger">
      <node pkg="nodelet" type="nodelet" name="camera_nodelet_manager" args="manager" cwd="node" output="screen"/>

      <!-- Camera nodelet -->
      <node pkg="nodelet" type="nodelet" name="spinnaker_camera_nodelet"
            args="load spinnaker_camera_driver/SpinnakerCameraNodelet camera_nodelet_manager" >

        <param name="frame_id"                        value="$(arg camera_name_passenger" />
        <param name="serial"                          value="$(arg camera_serial_passenger)" />

        <!-- Frame rate -->
        <param name="image_format_color_coding"       value="$(arg color)" />
        <param name="acquisition_frame_rate_enable"   value="$(arg control_frame_rate)" />
        <param name="acquisition_frame_rate"          value="$(arg frame_rate)" />

        <!-- Image format / size -->
        <param name="image_format_roi_width"          value="$(arg width)" />
        <param name="image_format_roi_height"         value="$(arg height)" />

        <!-- Use the camera_calibration package to create this file -->
        <param name="camera_info_url" if="$(arg calibrated)"
               value="file://$(env HOME)/.ros/camera_info/$(arg camera_serial_passenger).yaml" />
      </node>

      <!-- Debayering nodelet -->
      <node pkg="nodelet" type="nodelet" name="image_proc_debayer"
            args="load image_proc/debayer camera_nodelet_manager">
      </node>
    </group>

  </group>

  <!-- RVIZ -->
  <!-- <node type="rviz" name="rviz" pkg="rviz" args="-d $(find spinnaker_camera_driver)/rviz/stereo_cam_test.rviz"/> -->

  <!-- RQT RECONFIGURE -->
  <!-- <node name="reconfigurererer" pkg="rqt_reconfigure" type="rqt_reconfigure" output="log"/> -->

</launch>
